@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=STIX+Two+Text&display=swap");

:root {
  --primary-color: #059669;
  --dark-gray: #4b5563;
  --off-white: #e5e7eb;
}

body {
  font-family: "Georgia", "Times New Roman", Times, serif;
  font-size: 105%;
  /* padding-bottom: 1rem; */
  scroll-behavior: smooth;
}

hr {
  margin-top: 2rem;
  margin-bottom: 2 rem;
}

.link {
  text-decoration: none;
  padding: 0.5rem 1rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
  text-align: center;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;

  display: block;
  max-width: 7rem;
}

.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
  font-weight: bold;
  display: block;
  max-width: 7rem;
}

/* .link-secondary:hover {
  background-color: var(--primary-color);
  color: white;
}

.link-primary:hover {
  color: var(--primary-color);
  background-color: var(--off-white);
  border-radius: 0.5rem;
  border: 1px solid;
  border-color: var(--primary-color);
} */

a {
  text-decoration: none;
  opacity: 0.9;
}

h1,
h2,
h3 {
  font-variant: small-caps;
}

a:hover {
  opacity: 1;
}

.fluid-container {
  padding: 1%;
}

.container {
  text-align: center;
  margin: auto;
  font-size: 1.1rem;
}

.non-bullet {
  list-style-type: none;
}

.list-inline {
  display: inline;
  padding: 1%;
}

.navigation {
  background-color: var(--primary-color);
  color: white;
  font-weight: 300;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
  margin: auto;
  height: 8rem;
}

.navigation a {
  color: white;
  font-size: 1.7rem;
  font-variant: small-caps;
}

.navigation .active {
  font-weight: bold;
  opacity: 1;
}

.nav-brand {
  font-size: 2rem;
  text-align: left;
  font-variant: small-caps;
  font-weight: bold;
  font-family: "STIX Two Text", serif;
}
.hero {
  padding: 2rem;
  text-align: center;
}

.hero .hero-image {
  /* max-width: 30rem; */
  width: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  font-size: 3rem;
  padding-top: 1rem;
  color: var(--dark-gray);
  text-align: center;
}

.section h1,
.section h2,
.section h3 {
  text-align: justify;
  font-size: 2rem;
}

.section {
  padding: 1rem;
}
.off-white {
  background-color: var(--off-white);
  border-radius: 0.5rem;
  font-size: 1rem;
  margin: 1rem;
  padding: 1rem;
}

.footer {
  background-color: var(--primary-color);
  padding: 0.5rem 1rem;
  color: white;
  border-top-right-radius: 1rem;
  margin: 1rem;
}

.footer a {
  color: white;
}
.class-footer {
  text-align: justify;
  font-size: 1.3rem;
}
span {
  color: var(--primary-color);
  margin: 0.6rem;
}

.socials-head {
  font-size: 1.2rem;
}

.footer-links {
  padding-bottom: 0.5rem;
  padding-top: 0.5rem;
}

p {
  text-align: justify;
  font-size: 1.1rem;
}

.skills {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.box {
  padding: 1rem;
}

.percentages {
  margin: 1rem;
  width: 40%;
}

.percent {
  /* padding: 0.7rem; */
  margin: 1.4rem;
  background-color: #9ca3af;
  border-radius: 12px;
  display: flex;
  overflow: hidden;
}

.bar-fill {
  background-color: var(--primary-color);
  border-radius: 12px;
  max-width: 100%;
  padding: 0.5rem;
}

li {
  list-style: none;
}

small {
  font-size: 0.9rem;
}

/* .blinker {
  animation: blinker 1s linear infinite;
} */

ol {
  /* margin: 0; */
  padding: 0;
}
